@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;600;700;800;900&display=swap');

:root {
    --primary-color: #1473e6;
    --white: #fff;
    --black: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.6rem;
    text-rendering: optimizeSpeed;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--black);
}

button {
    border: none;
    background-color: var(--white);
    color: var(--black);
}
